.MainContentMobile {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;  

}

.FreeZoneTop {
  margin-top: 136px;
}

.FreeZoneBottom {
  margin-bottom: 50px;
}
