.FormBtnDisabled {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border:0 none;
    padding: 5px;
    border-radius: 5px;
    outline:none;
    color: var(--black);
    cursor: not-allowed;
 }
