.ContactContainer {
    width: 90%;
    margin-bottom: 150px;
}
.ContactInfoContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.MessageSentNotif{
    transition: 0.3s;
    font-size: 0;
    text-align: center;
    font-weight: 700;
}

.ErrorMessage {
    margin-top: -2px;
    text-align: center;
    color: var(--red);
    font-weight: 700;
}


.FormBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.ContactInfoBox {
    margin-top: 15px;
}


  @media (max-width: 800px) {
      .ContactSendMessageForm {
          margin-bottom: 50px;
      }
      .ContactInfoContainer {
          flex-direction: column;
      };
  }

  