.HomeContainer {
  background-image: url(../../../assets/images/OB-Dark.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  width: 90%;
  height: 700px;
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  font-family: 'electrolize';
  box-shadow:
  0 1.8px 1.2px rgba(155, 155, 155, 0.035),
  0 3.7px 2.3px rgba(155, 155, 155, 0.047),
  0 6.5px 5px rgba(155, 155, 155, 0.06),
  0 12.3px 7.9px rgba(155, 155, 155, 0.072),
  0 21.8px 13.4px rgba(155, 155, 155, 0.086),
  0 30px 20px rgba(155, 155, 155,0.12)
}
.InfoHeader {
  margin: 120px 0 0 80px;
  color: var(--orange);
  font-size: larger;
}
.InfoTagContainer {
  margin-left: 50px;
  width: 100%;
  box-sizing: border-box;
}
.InfoContainer {
  color: var(--red);
  font-size: 18px;
  width: 100%;
  font-weight: 700;
}
.TagContainer {
  display: flex;
  flex-direction: row;
  margin-top: 180px;
}
.Tag {
  background-color: var(--red);
  border: 1px solid var(--red);
  margin: 10px 10px 10px 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: var(--black);
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}
.Tag:hover {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--white);
}

@media (max-width: 1200px) {
  .InfoTagContainer {
    margin: 0 0 0 50px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .HomeContainer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
