.InfoContainer {
    text-align: left;
    margin-top: 100px;
    color: var(--orange);
    font-weight: bold;
}

.InfoItem {
    margin: 10px 0 10px 0;
}


@media (max-width: 1400px) {
     .InfoLinkContainer {
        justify-content: center;
     }
}

