.LinkContainer {
    margin: 3%;
    cursor: pointer;
    
}
.Link{
    padding: 5px;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    transition: 0.3s;
}
.Link:hover {
    color: var(--white);
    background-color: var(--black);
}

.LinkBusiness {
    padding: 5px;
    background-color: var(--red);
    border-radius: 5px;
    color: var(--white);
    transition: 0.3s;
}

.LinkBusiness:hover {
    color: var(--red);
    background-color: var(--white);

}

.Navlink {
    padding: 5px;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    transition: 0.3s;
}

@media(max-width: 900px) {
    .LinkContainer {
        margin-top: 20px;
        cursor: pointer;
    }
}