.FormInput {
    width: 100%;
    background-color: var(--red);
    font-size: 1.2rem;
    color: var(--black);
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 700;
    padding: 10px 0 10px 5px;
}

.FormInput:disabled {
    background-color: var(--grey);
}