.FooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 40px;
    background-color: var(--grey);
    font-weight: 700;
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.BrandContainer {
    color: var(--black);
}