.ProjectBoxesContainer {
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ProjectBox {
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}


.ProjectImg {
    height: 130px;
    transition: 0.3s;
}


@media (max-width: 800px) {
    .ProjectBoxesContainer {
        flex-direction: column;
    }
    .ProjectImg {
        height: 100px;
    }
    .ProjectTextContainer {
        font-size: 0.9rem;
    }

.ProjectImg:hover + .ProjectTextContainer {
    display: block;
    font-size: .9rem;
}

  }