:root {
  --orange:#F2AA4CFF;
  --white: white;
  --grey: #575151;
  --darkGrey: #2B2B2B;
  --black: #131313;
  --red: #A31F34;
  --orangeTrans: rgba(242, 170, 76, 0.1);
}

@font-face {
  font-family: 'source-code-pro';
  src: local('source-code-pro'), url(./assets/fonts/SourceCodePro-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'source-code-pro';
  src: local('source-code-pro-bold'), url(./assets/fonts/SourceCodePro-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'source-code-pro';
  src: local('source-code-pro-italic'), url(./assets/fonts/SourceCodePro-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'electrolize';
  src: local('electrolize'), url(./assets/fonts/Electrolize/Electrolize-Regular.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'source-code-pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  -webkit-padding-start: 0;
  list-style-type: none;
}

ul li {
  list-style: none;
}

